mixin storeForm(store = {})
  form(action = "/add" method="POST" class = "card")
    label(for="name") Name
    input(type="text" name="name" value=store.name)
    label(for="description") Description
    textarea(name="description" value=store.description)
    - const choices = ['WiFi', 'Open Late', 'Family Friendly',"Vegatarian" ,'Licensed']
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" name="tags" value=choice id=choice)
          label(for=choice) #{choice}
    //label(for="photo") Photo
    //input(type="file" name="photo")
    //label(for="location") Location
    //input(type="text" name="location" value=store.location)
    input(type="submit" value="Save" class="button")